@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 600px) {

body{
    background-color: #FCFCFC;
    font-family: 'Montserrat';
    
}
h1{
    /* Create an account */

position: absolute;
width: 263px;
height: 23px;
left: 16px;
top: 68px;

font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;

color: #2C2B2B;


}


.inp-1{
    /* Rectangle 688 */

position: absolute;
<<<<<<< HEAD
width: 335px;
=======
width: 330px;
>>>>>>> 0955af664f7cf20c2f7b9e9af882590c00706e11
height: 50px;
left: 16px;
top: 135px;

background: #F1F1F1;
border-radius: 12px;
border: none;
}
.inp-2{
    
position: absolute;
<<<<<<< HEAD
width: 335px;
=======
width:  330px;
>>>>>>> 0955af664f7cf20c2f7b9e9af882590c00706e11
height: 50px;
left: 16px;
top: 209px;

background: #F1F1F1;
border-radius: 12px;
border: none;
}
.inp-3{
    /* Rectangle 690 */

position: absolute;
<<<<<<< HEAD
width: 335px;
=======
width:  330px;
>>>>>>> 0955af664f7cf20c2f7b9e9af882590c00706e11
height: 50px;
left: 16px;
top: 283px;

background: #F1F1F1;
border-radius: 12px;
border: none;
}
.inp-4{
    /* Rectangle 691 */

position: absolute;
<<<<<<< HEAD
width: 335px;
=======
width:  330px;
>>>>>>> 0955af664f7cf20c2f7b9e9af882590c00706e11
height: 50px;
left: 16px;
top: 357px;

background: #F1F1F1;
border-radius: 12px;
border: none;
}

.btn {
    /* Rectangle 692 */
border: none;
position: absolute;
<<<<<<< HEAD
width: 335px;
=======
width:  330px;
>>>>>>> 0955af664f7cf20c2f7b9e9af882590c00706e11
height: 50px;
left: 16px;
top: 574px;
background: linear-gradient(270deg, #7B91FF 0%, #95BEFF 100%);
border-radius: 12px;


}
/* Create an Account */
.page6Redirect{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}


.agree-message{
    /* By proceeding, I agree to all T&C and Privacy Policy */

position: absolute;
width: 307px;
height: 21px;
left: 46px;
top: 431px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 177.9%;
/* or 21px */
display: flex;
align-items: center;

color: #7F7F7F;


}


.orsection{
    /* Line 1 */
/* Or */

position: absolute;
width: 15px;
height: 15px;
left: calc(50% - 15px/2 + 1px);
top: 646px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #2C2B2B;


}

/* Rectangle 2129 */
.googleicon{
    box-sizing: border-box;

    position: absolute;
    width: 44px;
    height: 44px;
    left: 134px;
    top: 686px;
    background: url(./src/images/google.png);
    background-repeat: no-repeat;
background-position: center;
    border: 1px solid #7F7F7F;
    border-radius: 8px;    
}
.facebookicon{
    /* Rectangle 2130 */

box-sizing: border-box;
background: url(./src/images/facebook.png);
background-repeat: no-repeat;
background-position: center;
position: absolute;
width: 44px;
height: 44px;
left: 196px;
top: 686px;

border: 1px solid #7F7F7F;
border-radius: 8px;

}

.haveaccount{
    position: absolute;
<<<<<<< HEAD
      width: 230px;
=======
      width: 185px;
>>>>>>> 0955af664f7cf20c2f7b9e9af882590c00706e11
      height: 15px;
      left: calc(50% - 195px/2);
      top: 756px;
      
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */
      padding-bottom: 25px;
      color: #2C2B2B;
}

.login{
    /* Already have an account? Login */

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-decoration-line: underline;
color: #819CFF;
}

}
